@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    transition: background 0.3s, color 0.3s;
}


body.dark-mode {
    background-color: #121212;
    color: white;
}


.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, #ffffff, #f1f1f1);
    color: black;
    padding: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}


.sidebar.dark-mode {
    background: linear-gradient(135deg, #1f1f1f, #292929);
    color: white;
}


.profile-section {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-img {

    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-bottom: 15px;
}


.profile-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 5px;
}


.profile-title {
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.dark-mode .profile-name {
    color: white;
}

.dark-mode .profile-title {
    color: #ff914d;
}


.nav-links {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 20px;
}

.nav-links li {
    margin: 10px 0;
}


.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s ease-in-out;
    text-align: center;
}

.nav-links a:hover,
.nav-links a.active {
    background: rgba(0, 0, 0, 0.1);
}


.sidebar.dark-mode .nav-links a {
    color: white;
}


.sidebar.dark-mode .nav-links a:hover,
.sidebar.dark-mode .nav-links a.active {
    background: rgba(255, 136, 77, 0.2);
}


.theme-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #646262;
    font-size: 20px;
    transition: background 0.3s, transform 0.2s;
}


.theme-toggle:hover {
    background-color: #000000;
    transform: scale(1.1);
}


body.dark-mode .theme-toggle {
    background-color: #ff5722;
    color: white;
}


body.dark-mode .theme-toggle:hover {
    background-color: #ff7043;
}


.content {
    margin-left: 280px;
    padding: 40px;
    flex-grow: 1;
}


.nav-links a.active {
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}


.sidebar.dark-mode .nav-links a.active {
    background: rgba(255, 136, 77, 0.2);
}


.button-container {
    margin-top: 20px;
}

.button-container a {
    margin: 5px;
}
